.coltpay-loader {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../loader.gif') 
                50% 50% 
                no-repeat;
    overflow: hidden;   
}